# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# OS files
.DS_Store
Thumbs.db
